<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Parallelo Chat</title>
  <link rel="shortcut icon" href="static/chat.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css"> </head>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <img src="static/chat.png" alt="P">
      <a class="navbar-brand" href="#">Parallelo Chat</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container box1">
    <input class="name" type="text" placeholder="Name" id="name"/>
    <button class="btn btn-success send" id="send">Send</button>
    <input placeholder="Enter your message." type="text" class="message" id="message"/>
  </div>

  <hr/>
  <div class="container box2" id="display">
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" src="static/chat.js" charset="utf-8"></script>

</body>

</html>